/* #BBDEFB
#2196F3
#2962FF */

// #00b0ff #2196F3
// #2998ff
// #5643fa
// colors

$color-primary: #ff3d00; //aa076b
$color-primary-light: #f50057; //#aa00ff #76ff03
$color-primary-dark: #ff1744; //61045f
$color-dark-grey: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #eeeeee;

// width
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
