.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;

    padding: 1.5rem 2rem;
    font-family: inherit;
    color: inherit;
    border-radius: 2px;
    background-color: rgba(white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all 0.3s;
    width: 90%;

    @include respond(phone) {
      width: 100%;
    }

    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;
      box-shadow: 0 1.5rem 3rem rgba(black, 0.3);
    }

    &:focus:invalid {
      border-bottom: 3px solid red;
    }

    &::-webkit-input-placeholder {
      color: #999;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-right: 0.7rem;
    transition: all 0.3s;
    display: block;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    display: inline-block;
    width: 48%;
  }

  &__radio-label {
    font-size: 1.9rem;
    color: #777;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
  }

  &__radio-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 5px solid $color-primary;
    display: inline-block;
    position: absolute;
    left: 0rem;
    top: -0.2rem;

    &::after {
      content: "";
      height: 1.2rem;
      width: 1.2rem;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-btn::after {
    opacity: 1;
  }

  &__radio-input {
    display: none;
  }
}
